* {
 box-sizing: border-box;
 margin: 0;
}

:root {
  --primary-color: #63C1BD;
}

.header {
  position: absolute;
  display: flex;
  background-color: var(--primary-color);
  top: 0;
  height: 75px;
  width: 100vw; 
  color: white;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-weight: 700;
}

.header--trophy {
  color: white;
  margin-right: 2rem;
  margin-left: auto;
}

.header--menu {
  color: white;
  margin-left: 2rem; 
  margin-right: auto;
}

